<h1>Flavors of Ice Cream</h1>

<ul>
    {{#each flavors}}
    <li>NAME: {{name}}</li>
    <li>PRICE: ${{price}}</li>
    <li>AWESOMENESS: {{awesomeness}}</li>
    <li>-----------</li>
    {{/each}}
</ul>