<!-- 4. Output the animalType string, pet boolean, and fierceness number to the page -->
<h1>What a good dogger!</h1>

<h2>Type of Animal: {{animalType}}</h2>
<h2>Is it a pet? {{pet}}</h2>
<h2>Fierceness: {{fierceness}}</h2>